

.first {
    width: 200px;
    height: 200px;
    background-image: url("../../img/cat.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #ff145c;
    display: inline-block;
    box-sizing: border-box;
}

div{
    width: 200px;
    height: 200px;
    background-image: url("../../img/cat.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #ff145c;
    display: inline-block;

}

img {
    padding: 20px;
    margin: 40px;
}

.catone {
    width: 200px;
    height: 200px;
    border: 10px solid orangered;
    display: block;
}

.cattwo {
    width: 200px;
    height: 200px;
    border: 10px groove orangered;
    display: block;
}

.catthree {
    width: 200px;
    height: 200px;
    border: 10px dashed orangered;
    display: block;
}

.catfour {
    width: 200px;
    height: 200px;
    border: 10px dotted orangered;
    display: block;
}