
body{
    width: 80%;
    margin: 0 auto;
}
div{
    margin: 20vh auto;
    border: 5px solid darkred;
    width: 400px;
    height: 400px;
    line-height: 400px;
    font-size: 2rem;
    text-align: center;
    font-variant: small-caps;
    font-family: sans-serif;


}