body {
    font-size: 36px;
    text-align: center;
    border: 10px solid green;
}

/* order matters */
/* LVHA */
/* Link Visited Hover Active */
a:link {
    color: #c514a0;
}

a:visited {
    color: #c8ac00;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active {
    color: #000000;
}