html{
    background-color: #00539f;
}
body{
    width: 60%;
    margin: 0 auto;
    border: 5px solid black;
    background-color: #00c957;

}

img{
    display: block;
    margin: 20px auto;
    border-radius: 100%;
    border: 15px ridge gold;
}
#first{
    color: #2b3fe6;

}
#second{
    color: red;
}

p{
    font-size: 20px;
}

h1,p{
    margin: 15px 20px;
}
#third{
    color: #daac00;
}
